<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-content-wrapper">
      <div class="contact">
        {%- if site.description and site.description != "" -%}
          <span class="footer-contact-item">{{ site.description | escape }}</span>
        {%- endif -%}
        {%- if site.email -%}
          <span class="footer-contact-item">{{ site.email }}</span>
        {%- endif -%}
        {%- if site.github_username -%}
          <span class="footer-contact-item"><a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" target="_blank" rel="noopener noreferrer">github.com/{{ site.github_username | escape }}</a></span>
        {%- endif -%}
        {%- if site.twitter_username -%}
          <span class="footer-contact-item"><a href="https://x.com/{{ site.twitter_username | cgi_escape | escape }}" target="_blank" rel="noopener noreferrer">x.com/{{ site.twitter_username | escape }}</a></span>
        {%- endif -%}
      </div>
      <div class="rss">
        <a href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" title="Subscribe via RSS">
          <svg class="svg-icon rss-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
          </svg>
          <span class="sr-only">RSS Feed</span>
        </a>
      </div>
    </div></div>
</footer>