<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper"> 
    <div class="footer-content-wrapper"> 

      <div class="contact">
        <p>
          {{ site.description | escape }}
          <br>
          {%- if site.email -%}
            {{ site.email }}
            <br> {%- endif -%}
          {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" target="_blank" rel="noopener noreferrer">github.com/{{ site.github_username | escape }}</a><br>
          {%- endif -%}
          {%- if site.twitter_username -%}
            <a href="https://x.com/{{ site.twitter_username | cgi_escape | escape }}" target="_blank" rel="noopener noreferrer">x.com/{{ site.twitter_username | escape }}</a><br> 
          {%- endif -%}
        </p>
      </div>

      <div class="rss">
        <a href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
          <img src="{{ '/assets/images/rss.png' | relative_url }}" alt="Subscribe to RSS Feed" style="width: 28px; height: 28px; border: 0; vertical-align: middle;"> 
        </a>
      </div>

    </div></div>
</footer>